# Операции над данными в Pandas

## Ufuncs: сохранение индекса

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(1)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    5
1    8
2    9
3    5
dtype: int64

In [3]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  0  0  1  7
1  6  9  2  4
2  5  2  4  2

Индексы сохраняются:

In [4]:
np.exp(ser)

0     148.413159
1    2980.957987
2    8103.083928
3     148.413159
dtype: float64

In [5]:
np.sin(df * np.pi / 4)

          A         B             C             D
0  0.000000  0.000000  7.071068e-01 -7.071068e-01
1 -1.000000  0.707107  1.000000e+00  1.224647e-16
2 -0.707107  1.000000  1.224647e-16  1.000000e+00

## UFuncs: Выравнивание индексов

In [6]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [7]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [8]:
area.index.union(population.index)

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [9]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [10]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Выравнивание в DataFrame

In [11]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A  B
0   4  9
1  17  0

In [12]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  6  9  9
1  7  6  9
2  1  0  1

In [13]:
A + B

      A     B   C
0  13.0  15.0 NaN
1  23.0   7.0 NaN
2   NaN   NaN NaN

In [14]:
A.stack()

0  A     4
   B     9
1  A    17
   B     0
dtype: int64

In [15]:
fill = A.stack().mean()
fill

7.5

Индексы результата отсортированы:

In [16]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

      A     B     C
0  13.0  15.0  16.5
1  23.0   7.0  16.5
2   7.5   8.5   8.5

| Python          | Pandas                                |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Операции между DataFrame и Series

In [17]:
A = rng.randint(10, size=(3, 4))
A

array([[8, 8, 3, 9],
       [8, 7, 3, 6],
       [5, 1, 9, 3]])

In [18]:
A - A[0]

array([[ 0,  0,  0,  0],
       [ 0, -1,  0, -3],
       [-3, -7,  6, -6]])

In [19]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  0 -1  0 -3
2 -3 -7  6 -6

In [20]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0  0  0 -5  1
1  1  0 -4 -1
2  4  0  8  2

In [21]:
df

   Q  R  S  T
0  8  8  3  9
1  8  7  3  6
2  5  1  9  3

In [22]:
halfrow = df.iloc[0, ::2]
halfrow

Q    8
S    3
Name: 0, dtype: int64

In [23]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1  0.0 NaN  0.0 NaN
2 -3.0 NaN  6.0 NaN